{include file="common/teacher_base" /}

<link rel="stylesheet" type="text/css" href="__CSS__/teacher/course.css">

<div>
    <div class="course-title">
        <div class="course-title-body">
            <div class="course-title-body text">
                <div>
                    <span><font><strong>实验课程</strong></font></span>
                </div>
                
            </div>
            <div class="course-title-select"> 
                <div class='select'>
                    <select>

                        <option>更多操作</option>
                        <option>添加课程</option>
                        <option>同步课程</option>
                        <option>批量删除</option>


                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="ant-table-container">
        <div class="ant-table-content">
            <div class="ant-table-body">
                <table class="">
                    <colgroup>
                        <col style="width: 8%; min-width: 8%;">
                        <col style="width: 15%; min-width: 15%;">
                        <col style="width: 8%; min-width: 8%;">
                        <col style="width: 15%; min-width: 15%;">
                        <col style="width: 10%; min-width: 10%;">
                        <col style="width: 8%; min-width: 8%;">
                        <col style="width: 8%; min-width: 8%;">
                        <col style="width: 8%; min-width: 8%;">
                        <col style="width: 15%; min-width: 20%;">
                    </colgroup>
                    <thead class="ant-table-thead">
                        <tr>
                            <th class="">
                                <span>课程编号</span>
                            </th>
                            <th class="">
                                <span>课程名称</span>
                            </th>
                            <th class="">
                                <span>任课老师</span>
                            </th>
                            <th class="">
                                <span>任课班级</span>
                            </th>
                            <th class="">
                                <span>任课时间</span>
                            </th>
                            <th class="">
                                <span>课程类型</span>
                            </th>
                            <th class="">
                                <span>实验课时</span>
                            </th>
                            <th class="">
                                <span>考查方式</span>
                            </th>
                            <th class="">
                                <span>操作方式</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="ant-table-tbody">
                        <tr class="ant-table-row">
                            <td class="">
                                <span class="">043977</span>
                            </td>
                            <td class="">
                                <span class="">无线传感器网络与物联网通信技术</span>
                            </td>
                            <td class="">
                                <span class="">陶铭</span>
                            </td>
                            <td class="">
                                <span class="">2015计算机科学与技术1,2,3,4班</span>
                            </td>
                            <td class="">
                                <span class="">2018春季学期</span>
                            </td>
                            <td class="">
                                <span class="">选修课</span>
                            </td>
                            <td class="">
                                <span class="">56</span>
                            </td>
                            <td class="">
                                <span class="">考查</span>
                            </td>
                            <td class="">
                                <a href="#">查看所有学生</a>
                            </td>
                        </tr>
                        <tr class="ant-table-row">
                            <td class="">
                                <span class="">043972</span>
                            </td>
                            <td class="">
                                <span class="">计算机网络</span>
                            </td>
                            <td class="">
                                <span class="">陶铭</span>
                            </td>
                            <td class="">
                                <span class="">2015软件工程1,2,3,4班</span>
                            </td>
                            <td class="">
                                <span class="">2018春季学期</span>
                            </td>
                            <td class="">
                                <span class="">必修课</span>
                            </td>
                            <td class="">
                                <span class="">56</span>
                            </td>
                            <td class="">
                                <span class="">考试</span>
                            </td>
                            <td class="">
                                <a href="#">查看所有学生</a>
                            </td>
                        </tr>
                        
                        
                    </tbody>
                </table>

            </div><!-- end body-->
        </div><!-- end content-->
    </div><!-- end container-->
</div><!-- end course-->

{include file="common/footer" /}